.subredditSearch__component-container {
	height: 100%;
	width: 100%;
}

.subredditSearch__title {
	text-align: center;
	font-size: 2.5rem;
	padding: 0rem 0rem 1rem 0rem
}

.subredditSearch__container {
	// background-color: #ffffff;
  /* background-color: red; */
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.subredditSearch__query-container {
	width: 50%;
}

.subredditSearch__form {
	width: 100%;
}

.subredditSearch__query-container input[type="text"] {
  background-color: inherit;
  height: 3rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid #b1b1b1;
  outline: none;
}

.subredditSearch__search-input {
	height: 100%;
}

@media (max-width: 300px) {
  .subredditSearch__container {
    justify-content: flex-start;
  }
  .subredditSearch__query-container {
	  width: 80%;
  }
}