html {
  font-size: 62.5%;
}

li, ul {
  margin-left: 0;
  padding-left: 0;
} 

.App {
  text-align: center;
}


.navbar-container {
  /* display: flex; */
}

.navbar {
  font-size: 1rem;
  background: lightblue;
  width: 100%;
  /* display: fixed; */
  font-style: Arial;
  height: 10vh;
  text-decoration: none;
}

.navbar-links {
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 100%;
}

a {
  text-decoration: none;
}

.authorized {
  font-size: 10rem;
}