html {
  font-size: 62.5%;
}

li, ul {
  margin-left: 0;
  padding-left: 0;
} 

.app {
  /* text-align: center; */
  background-color: #fcfcfc;
}

.left-side-app {
  width: 30%;
  display: flex;
  justify-content: center;
}

.right-side-app {
  width: 30%;
  display: flex;
  justify-content: center;
}

.main-routes {
  width: 50%
}

/* .right-side-app {
  width: 20%;
  display: flex;
  justify-content: center;
} */


.master-app-container {
  display: flex;
  justify-content: center;
}

.profile-avatar {
  /* border: 0.1rem solid black;
  border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4rem;
  padding-right: 2rem;
  /* height: auto; */
  
}

.profile-avatar:hover {
  cursor: pointer;
  opacity: 0.2;
  display: flex;
  align-items: center;
  
  
}

.profile-picture-container {  
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row-reverse; */
  align-items: center;
  /* padding-right: 2rem; */
  height: 100%;
  /* width: 10%; */
}

.profile-img {
  padding: 0.2rem;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.top-navbar {
  font-size: 1rem;
  background: #fff;
  width: 100%;
  height: 6vh;
  /* display: fixed; */
  font-style: Arial;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  
}


/* SideBar */

.sidebar-nav {
  font-size: 1rem;
  /* background: #fff; */
  width: 90%;
  /* height: 20vh; */
  /* display: fixed; */
  font-style: Arial;
  text-decoration: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none; */
}

.subbed-reddit-links {
  padding: 1rem;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.more-subreddits {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.more-subreddits a:hover {
  color: #3d5af1;
  transition: 0.5s;
}


.subreddit-links {
   width: 100%;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none; */
  list-style: none;
  height: 100%;
}

.list-item-subreddit {
  /* background-color: #3d5af1; */
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  
}

.subreddit-LinkTo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #3d5af1;
}

.subreddit-container {
  width: 100%;
}


.subreddit-banner {
  width: 100%;
  height: 50%;
}

.banner-img {
  width: 100%;
  height: 100%;
}


.subreddit-header-banner {
  max-width: 95%;
  max-height: 15vh;
  margin: auto;
  margin-bottom: 2rem;
  overflow: hidden;
  /* width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain; */


}





/* SubscribedSubreddits */

.subreddit-page-title {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
}











.subreddit-header-img {
  width: 100%;
  height: auto;
  /* height: 100%; */
  /* height: auto; */
  /* object-fit: cover; */
}

.subreddit-header {
  display: flex; 
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* padding-bottom: 2rem; */
}

.subreddit-header-titles {

}

.subreddit-header-line {
  color: #b1b1b1;
  font-size: 1.1rem;
}

.subreddit-img-header-container {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
}

.subreddit-img-header {
  width: 100%;
  /* height: 100%; */
  height: auto;
}

.subreddit-title {
  font-size: 2rem;
}

.subreddit-description {
  font-size: 1.5rem;
  color: #b1b1b1
}


.subreddit-display-name {
}

.subreddit-img-container {
  width: 3rem;
  /* border-radius: 2rem; */
}

.subreddit-img {
  max-width: 100%;
  max-height: auto;
  /* border: 1px solid black; */
  border-radius: 50%;
}



.navbar-container {
  /* display: flex; */
}

.navbar {
  font-size: 1rem;
  background: #fff;
  width: 90%;
  height: fit-content;
  /* display: fixed; */
  font-style: Arial;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.navbar-links {
  width: 100%;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  /* height: 20vh; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none; */
  list-style: none;
  height: 100%;
}

.menu-margin {
  width: 2%;
  height: 100%;
  color: inherit;

  /* background-color: inherit; */
}



.activeMargin {
  background-color: #3d5af1;
  /* height: 100%; */

}

.activeText {
  width: 100%;
  /* height: 100%; */
  align-items: center;
  padding-left: 0.5rem;
  background-color: rgba(61, 90, 241, 0.2);
  display: flex;
  align-items: center;
}

.link-text {
  /* height: 100%; */
}

.menu-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}


.menu {
  margin: 1rem;
  text-align: center;
}

.menu-title {
  width: 100%;
  height: 100%;
  background-color: black;
}

.menu {
  /* text-align: center; */
  font-size: 2rem;
}

.list-item {
  /* background-color: #3d5af1; */
  display: flex;
  align-items: center;
  height: 3vh;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.active {
  background-color:#3d5af1;
  /* color: #3d5af1; */

}



a {
  text-decoration: none;
}

.authorized {
  font-size: 10rem;
}

.userInfo {
  text-align: center;
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.logout-btn {
  height: 100%;
}

.user {
  height: 100%;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.error-modal-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}


.error-modal {
  width: 30%;
  height: 20vh;
  border: 1px solid black;
  font-size: 2rem;
  text-align: center;
}

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.post-container {
  width: 80%;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

.post-thumbnail-container {
  width: 20rem;
  height: auto;
  /* border: 0.1rem solid #999; */
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  margin: 3rem;

}

.post-thumbnail {
  max-height: 20rem;
  max-width: 20rem;
  
}


.main-text-container {
  /* padding-left: 7rem; */
  /* padding: 1rem 3rem 1rem 7rem; */
  width: 100%;
  padding: 3rem 2rem 2rem 2rem;

  
  /* border: 1px solid black; */
}

.post-description {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  -webkit-line-clamp: 2;
}

.post-author {
  color: #999;
  display: flex;
  align-items: center;
}


/* ***********************************************  Modal   **************************************/

.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
  z-index: 99;
  /* transform:scale(0); */
  
}




.modal-info-container {
	background-color: #ffffff;
  /* color: #4a4a4a; */
  color: #777;
	border-radius: 0.4rem;
	border: 1px solid #fcfcfc;
	padding: 5rem;
	width: 60%;
	height: 80%;
	z-index: 1;
  overflow: auto;
  font-size: 1.2rem;
  /* // min-width: 32rem; */
  /* transform: scale(0); */
  /* animation: blowU */
  content: '';
  box-shadow: 0 5px 15px rgba(0,0,0,0.9);
}
/* .profile-post-container::after {
  
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.5rem;
  
  transition: opacity 0.3s ease-in-out;
} */


.close-modal-btn {
  background: inherit;
  border: none;
  cursor: pointer;
}

.modal-open {
  z-index: 0;
  transform: scale(1);
}


.modal-bg {
  position: absolute;
  background:rgba(0,0,0,.7);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.modal-post-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding-bottom: 2rem; */
}

.modal-post-title {
  font-size: 2.5rem;
  text-align: left;
  padding: 2rem 2rem 2rem 0rem;
  color: #4a4a4a;
}

.post-url {
  padding-top: 2rem;
  font-size: 1.5rem;
}

.post-details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0rem 2rem 0rem 0rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  
}

.full-post-image {
  text-align: center;
}

.author-subreddit-container {
  /* display: flex;
  justify */
}

.player-container {
  background: #b8b8b8;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  /* position: fixed; */

  /* max-height: 25rem; */
}

.vid-player {
  
}


.video-react-video {
  position: relative;
  height: 25rem;
  width: 25rem;
}

.video-react {
  padding-top: 0;
}

.video-player {
  width: 100%;
}


.modal-description {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  /* text-align: left; */
}

.modal-post-author {
  font-size: 1.5rem;
  color: #5c75f3;

}

.modal-post-date {
  color: #b8b8b8;
  font-size: 1.5rem;
}


.modal-post-subreddit {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  color: #4a4a4a;
}

.modal-thumbnail-container {
  width: auto;
  height: 15rem;
  /* border: 0.1rem solid #999; */
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  margin: 2rem;

}

.post-comments-container {
  margin-top: 1rem;
  margin-left: 2.5rem;
  padding: 2rem;
  border-left: 0.1rem solid #b1b1b1;
  height: 90%;
}

.comment-container {
  margin: 1rem;
  border: 0.1rem solid black;
  /* display: flex;
  justify-content: space-between; */
}

.collapse-thread {
  margin-right: 2rem;
}

.collapse-master-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse-container {
  align-items: center;
  cursor: pointer;
  padding-top: 0.4rem;
}

.uncollapseSVG {
  fill: #b1b1b1;
}

.collapseSVG {
  fill: #b1b1b1;
}

.upvotes {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  flex-direction: column;
  padding-left: 2rem;
  /* align-items: center; */
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.close-svg-container {
  cursor: pointer;
}

.closeSVG {
  /* width: 10%; */
  fill: #bbbbbb;
  /* text-align: right; */
  
}




.loader {
  fill: #5c75f3;
  /* animation-name: rotate; */
  /* animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display:-nline-block; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  transform-origin: center center;
  animation: spin 1s linear infinite;
  margin: -4rem 0 0 -4rem;
  
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  };
}

/* 
svg {
  animation: rotate 5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(360deg);
  }
} */

/* @-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
} */


.loader {
  
}

.comment-score {
  text-align: center;
  color: #5c75f3;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.upvote-arrows {
  /* display: flex;
  align-items: center; */
  text-align: center;
}


.comment-text-body {
  display: flex;
  /* justify-content: left; */
  /* justify-content: center; */
  padding: 0.5rem;
  align-items: center;
}

.comment {
  padding-left: 2rem;
}

.comment p {
  padding: 0;
  margin: 0;
}

.comment-author {
  /* margin-left: 2rem; */
  padding-left: 1rem;
  color: #5c75f3;
  /* color: #b1b1b1; */
  font-size: 1.5rem;
}

.comment-author-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-author-info {
  display: flex;
  justify-content: space-around;
}

.modal-author-img-container {
  width: 2rem;
  height: auto;
}

.modal-author-img {
  max-width: 100%;
  max-height: 100%;
}

.comment-date {
  font-size: 1rem;
}

.children-comments {
  padding-left: 8rem;
}

.children-author {
  color: white;
}

a {
  color: #4a4a4a;
  /* text-decoration: underline; */
}

.deleted-comment {
  font-size: 10rem;
  color: black;
}

.reply-input-container {
}

.reply-text-area {
  /* width: 60rem; */
}

.comment-reply {
  /* display: inline-block; */
  border: 0.1rem solid #b1b1b1;
  border-radius: 0.5rem;
  padding: 0.9rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  /* margin: 0.5 0.5 0.5; */
  /* margin: 0; */
  cursor: pointer;
  color: #b1b1b1;
  background-color: #fff;
  font-weight: bold;
  width: 3.5rem;
  height: 1%;
  /* height: 3.5rem; */

}

.comment-form-container {
  width: 100%;
}

.comment-reply:hover {
  cursor: pointer;
  background-color: #b1b1b1;
  color: black !important;
  border: 0.1rem solid black;
  /* border-color: #111 !important; */
  transition: all 0.3s ease 0s;
}

.replyEdit-btn-container {
  display: flex;
}

.commentReplyEdit-container {
  /* display: flex; */
  /* height: 3.5rem; */
}

textarea {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0rem;
  margin: 0rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

/* input[type="submit"] {
  width: 10%;
  height: 10%;
} */

.comment-form {
  /* padding-top: 1rem; */
  height: 20rem;
  /* width: 100%; */
  width: 60rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */

}

.comment-input {
  width: 100%;
  /* height: 3.5rem; */
  /* width: 50rem;
  height: 100rem; */
}

.comment-submit {
  height: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  /* background: rgb(221, 211, 211); */
  background: #b1b1b1;
  padding: 0.9rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  width: 15rem;
}

.comment-submit:hover {
  cursor: pointer;
  color: #b1b1b1 !important;
  border: 0.1rem solid black;
  background-color: #fff;
  /* border-color: #111 !important; */
  transition: all 0.3s ease 0s;
}

.cancel-comment {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background: #333;
  padding: 0.9rem;
  /* border: 0.1rem solid white; */
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.cancel-comment:hover {
  cursor: pointer;
  color: black !important;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  /* border-color: #494949 !important; */
  transition: all 0.3s ease 0s;
}

.comment-buttons {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.moreComments {
  border: 0.1rem solid black;
}






.subreddit-master-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}



.subreddit-item-container {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  height: 20rem;
  width: 90%;
  padding: 2rem;
  border-radius: 0.5rem;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}


.subreddit-text-container {
  width: 60%;
  height: auto;
}

.subreddit-list-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}


/* Profile Component */







.master-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.subreddit-banner-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 2rem 0 2rem 0;
  margin-bottom: 2rem;
}

.subreddit-display-container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.subreddit-title-homepage {
  width: content-fit;
  /* text-align: center; */
  font-size: 2.5rem;
  padding: 2rem;
  margin-right: 1rem;
}

.subreddit-page-description {
  color: #b1b1b1;
  font-size: 1.5rem; 
}


.active-users-container {
  padding-left: 2rem;
  text-align: center;
}

.UsersSVG {
  fill: #4a4a4a;
}

.active-users {
  padding-top: 0.5rem;
  color: #4a4a4a
}

.sort-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sortByMenuContainer {
  background-color: #ffffff;
  /* background-color: red; */
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sort-by-text {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.menu-svg-container {
  background-color: inherit;
  border: none;
  text-decoration: none;
  margin: 0 2rem 0 2rem;
  padding: 1rem;
  display: flex;
  /* min-height: 3rem;
  min-width: 3rem; */
  width: 10%;
  justify-content: center;
  align-items: center;
  /* background-color: #ececec; */
  border-radius: 10%;
  cursor: pointer;
}


.Best-container {

}

.Rising-container {}


.RedditDefaultSVG {
  /* width: 50rem; */
  width: 5rem;
  height: auto;

}



.RedditDefault-container {
  /* width: 5rem;
  height: auto; */
}

.RedditDefault {
  fill: #0079d3;
  /* width: 100%;
  height: auto; */
  /* height: 0.3rem; */
}

.HotSVG {
  width: 30%;
  min-width: 1rem;
  height: auto;
}

.BestSVG {
  width: 30%;
  min-width: 1rem;
  height: auto;
}
.RisingSVG {
  /* width: 30%; */
  min-width: 1rem;
  height: auto;
}

.TopSVG {
  width: 30%;
  min-width: 1rem;
  height: auto;
}

.NewSVG {
  width: 30%;
  min-width: 1rem;
  height: auto;
  
}

.sort-menu-svg {
  fill: #4a4a4a;

}

.active {
  background-color: #ececec;
}




.profile-post-container {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  height: 30rem;
  width: 90%;
  padding: 2rem;
  border-radius: 0.5rem;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}

.profile-post-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;

}

.profile-post-container:hover {
  transform: scale(1.05, 1.05);
}

.profile-post-container:hover::after {
  opacity: 1;
}

.post-title {
  /* margin: 1rem; */
  /* padding-left: 2rem; */
  /* padding-bottom: 3rem; */
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 2.25rem;
  padding-right: 4rem;
}



.post-title-text {
  /* max-height: 7rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #4a4a4a;
  padding-right: 2rem;
}

.post-main-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-container {
  display: flex;
  justify-content: center;
  padding-right: 4rem;
  /* padding-top: 1.5rem; */
  opacity: 0.5;
}

.post-score {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.score-text {
  color: #5c75f3;
}

.post-hr {
  color: #ececec;
  display: block;
  height: 0.1rem;
  border: 0;
  border-top: 0.1rem solid #ccc;
  margin: 0;
  /* padding-right: 4rem; */
  width: 100%;
}

.post-date {
  color: #b8b8b8;
}

.post-description-text {
  /* width: 60%; */
  color: #b1b1b1;
  font-size: 1.5rem;
  padding-right: 4rem;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  word-wrap: break-word;
  line-height: 2rem;
  max-height: 11rem;
  word-break: break-word;
  margin-bottom: 0.5rem;
  /* -webkit-line-clamp: 4; */
}

.author-img-container {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  /* border-radius: 50%; */
  
}

.author-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.author-text {
  color: #5c75f3;
}


.post-listing-subreddit {
  text-align: right;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding-bottom: 1rem;
  padding-right: 4rem;
}


.post-sub-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 2rem; */
  font-size: 1.2rem;
}

.post-comment-number {
  display: flex;
  justify-content: center;
  color: #b5b5b5;
  font-weight: bold;
}


.post-subreddit {
  font-size: 1.2rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  color: #4a4a4a;
}

.subreddit-image-container {
  display: flex;
  align-items: center;
  /* display: flex; */
  /* height: 13.5rem; */
}

.post-listing-thumbnail-container {
  height: auto;
  width: 10rem;
  /* transition: opacity 2s ease-in-out; */
}

.post-listing-thumbnail-container:hover {
  
  /* transform: scale(1.5, 1.5); */
}

.post-listing-thumbnail-container img {
  display: block;
  height: auto;
  width: auto;
  /* height: 100%;
  width: 100%; */
}

.heart-svg {
  fill: red;
  width: 2rem;
  height: 2rem;
}

.heart {
  fill:#B22222  ;
}

.UpArrowSVGClicked {
  fill: #5c75f3;

}

.UpArrowDiv {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.UpArrowDiv:hover {
  transform: scale(1.3, 1.3);
}

.DownArrowDiv {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.DownArrowDiv:hover {
  transform: scale(1.3, 1.3);
}

.DownArrowSVGClicked {
  fill: #ff304f;
}

.ArrowNotClicked {
  fill: #aaaaaa;
}

.bubbleSVG {
  fill: #b5b5b5
}

.readMore {
  color: black;
}

.postLinks {
  text-decoration: none;
}



.pagination {
  padding: 3rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: center;
}



/* Create Posts */



.create-post-master {
  display: flex;
  justify-content: center;
  width: 100%;
}

.create-post-container {
  background-color: #ffffff;
  /* background-color: red; */
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.media-post-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 0.1rem solid transparent; */
  font-size: 1.2rem;
  color: #4a4a4a;
}

.media-post-container-home {
  /* width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.1rem solid transparent;
  font-size: 1.2rem;
  color: #4a4a4a; */
}

.media-post-container-home:hover {
  /* border: 0.1rem solid #4a4a4a;
  border-radius: 0.3rem;
  transition: 0.2s;
  cursor: pointer; */

}


.create-post {
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  /* border: 0.1rem solid black; */
  /* border-radius: 0.3rem; */
  padding: 1rem;
}

.create-media-post {
  width: 20%;
  height: auto;
  /* border: 0.1rem solid black; */
  border-radius: 0.3rem;
  padding: 2rem;
}

.create-link-post {
  width: 20%;
  height: auto;
  /* border: 0.1rem solid black; */
  border-radius: 0.3rem;
  padding: 2rem;
}




/* Create Post Page */
.create-post-page-container {
  width: 100%;
  height: 100%;
  /* border: 0.1rem solid black; */
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}


.create-post-form {
  height: 100%;
  width: 100%;
  background-color: #fcfcfc
}

.create-post-page-title-container {
  display: flex;
  width: 100%;
  height: 6rem;
  /* justify-content: space-around; */
}

.create-post-page-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 0.1rem solid black; */
}

.post-input-char-limit {
  width: 4rem;
  height: 4rem;
  /* float: right; */
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 1.3rem;
  /* position: absolute;
  left: 147rem; */
}

.create-post-page-title input[type="text"] {
  width: 100%;
  height: 4rem;
  margin: 1rem;
  padding: 0rem;
  font-size: 2rem;
  padding-left: 1rem;
  /* padding-right: 6rem; */

}

.additional-post-info {
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  justify-content: left;
  align-items: center;
  height: 4rem;
}

.create-post-page-subreddit {
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid red; */
  width: 40%;
  padding: 0rem;
  margin: 0rem;
  height: 100%;
  
}

.create-post-page-subreddit input[type="text"] {
  /* position: absolute; */
  box-sizing: border-box;
  height: inherit;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}


.post-type {
  /* display: flex; */
  justify-content: center;
  /* border: 0.1rem solid blue; */
  /* height: 4.4rem; */
  height: 100%;
  padding: 0rem;
  margin: 0rem;
  width: 8rem;
  /* padding-left: 0.5rem; */
}

.post-type select {
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  
  margin-left: 1rem;


}

select.post-select {
  height: 100%;
}

.create-post-page-body {
  /* height: 90%; */
  display: flex;
  justify-content: center;
}


.text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  height: 30rem;
  font-size: 2rem;

}

.text-container textarea {
  padding: 1rem;
  font-size: 2rem;
  
  border-radius: 0.3rem;
}

.post-text-area {
  font-size: 2rem;
  /* height: 50rem; */
  /* width: 100%; */

}

.subreddit-search-suggestions-container {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  /* width: 100%; */
  
}

.suggestion-list {
  margin-top: 0.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* text */
  /* width: 100%; */
  /* align-items: center; */
}

.suggestion-listing {

  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 2rem; */
  padding: 2rem;
  padding-right: 4rem;
  font-size: 1.5rem;
  list-style: none;
  /* background-color: rgba(177, 177, 177, 1); */
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  
  /* width: 100%; */
  height: 3rem;
  cursor: pointer;
  border: 0.1rem solid #b1b1b1;
  transition: opacity 0.3s ease-in-out;
  /* border: 2px solid transparent; */
}

  
    


.suggestion-listing:hover {
  /* border: 2px solid white; */
  transform: scale(1.05, 1.05);

}

.subreddit-subscribers-container {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

.subreddit-suggestion-info-container {
  padding-left: 1rem;

  /* width: 100%; */
}

.post-submit {
  background-color: white;
  font-size: 1.5rem;
  border: 0.1rem solid black;;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.post-submit:hover {
  background-color: #b1b1b1;
  color: #fff;
}

.subreddit-search-container {
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
  width: 92%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.search-subreddit-div {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* border: 0.1rem solid transparent; */
}

/* .search-subreddit-div:hover {
   border: 0.1rem solid #4a4a4a;
  border-radius: 0.3rem;
  transition: 0.2s;
  cursor: pointer;

} */

.subreddit-search-input {
  height: 100%;
}

.query-search-div input[type="text"] {
  height: 3rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid #b1b1b1;
  outline: none;
}

.SearchSVG {
  padding: 1rem;
}



.create-post-div {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid transparent;
  width: 100%;
}


.create-post-div:hover {
   border: 0.1rem solid #4a4a4a;
  border-radius: 0.3rem;
  transition: 0.2s;
  cursor: pointer;

}


.create-post-master {
  height: 100%;
}

.create-post-container {
  

}

.create-post-link {
  /* width: 50%; */
}

.master-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}


.master-search-container {
  height: 100%;
  margin: 2rem;
}

.master-search-container input[type="text"] {
  height: 2.5rem;
  padding: 0rem 1rem;
}






@media (max-width: 1500px) {
	.exercise-button1 {
		left: 80%
	}
	.exercise-button2 {
		right: 80%
	}

	.modal-workout-log-group {
		width: 20%;
	}
}














/* background color: #fcfcfc */
/* individual post: #ffffff */
/* author name blue: #5c75f3 */
/* title color: #4e4e4e */
/* post info: #b1b1b1 */
/* header line color: #ececec */

/* baseline arrow color: #aaaaaa */

